@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: MangoDdobak;
    font-weight: 300;
    src: url('/src/assets/fonts/MangoDdobak-L(ttf).ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: 'MangoDdobak', sans-serif;
    font-optical-sizing: auto;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.72px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.56px;
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
  }

  h5 {
    font-size: 20px;
    line-height: 28px;
  }

  h6 {
    font-size: 18px;
    line-height: 24px;
  }

  input {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  input,
  textarea,
  button {
    appearance: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}

@layer components {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex justify-between;
  }
  .flexBetweenAlign {
    @apply flex items-center justify-between;
  }
  .flexAlign {
    @apply flex items-center;
  }
  .flexColumn {
    @apply flex flex-col;
  }
  .flexColumnBetween {
    @apply flex flex-col justify-between;
  }
  .flexColumnAlign {
    @apply flex flex-col items-center;
  }
  .placeholder-center::placeholder {
    @apply text-center;
  }
}

@layer utilities {
  .webkit-overflow-scrolling-touch {
    -webkit-overflow-scrolling: touch;
  }
}
